{% extends 'base.html' %}

{% block titulo %} Order List {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'create_orders' %}" role="button">Add new order</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Orders</h4>
        <table class="table">
            <tr>
                <td><p class="fw-bold">ID</p></td>
                <td><p class="fw-bold">Name</p></td>
                <td><p class="fw-bold">Description</p></td>
                <td><p class="fw-bold">Code Buy</p></td>
                <td><p class="fw-bold">Cuantity</p></td>
                <td><p class="fw-bold">Date Buy</p></td>
                <td><p class="fw-bold">Date Out</p></td>
                <td><p class="fw-bold">Articles</p></td>
                <td><p class="fw-bold">Actions</p></td>
            </tr>
            <thead>
                {% for order in orders %}
            </thead>
            <tbody>
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.description }}</td>
                    <td>{{ order.code_buy }}</td>
                    <td>{{ order.cuantity }}</td>
                    <td>{{ order.date_buy }}</td>
                    <td>{{ order.date_out }}</td>
                    <td>{{ order.order_article }}</td>
                <td><a name="" id="" class="btn btn-info" href="{% url 'edit_orders' order.id %}" role="button">Edit</a>
                    | <a name="" id="" class="btn btn-danger" href="{% url 'delete_orders' order.id %}" role="button">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <div class="row">
                        <form>
                            <div class="col-2" style="padding-right: 0em;">
                                <input class="form-control" type="search" name="qtext" placeholder="Filter your data here">
                            </div>
                            <div class="col-4" style="padding:0em;">
                                <input type="submit" class="btn btn-primary" value="Search"> 
                            </div>
                        </form>
                    </div>
                </tr>
       </tbody>
   </table>
   <nav aria-label="Page navigation example">
        {% if orders.has_other_pages %}
            <ul class="pagination justify-content-end">
                  {% if orders.has_previous %}
                    <li class="page-item"><a class="page-link " href="?page={{ orders.previous_page_number }}">Previous</a></li>
                  {% else %}
                    <li class="disabled"></li>
                  {% endif %}
                {% for i in orders.paginator.page_range %}
                    {% if orders.number == i %}
                        <li class="page-link"><span>{{ i }} <span class="sr-only"></span></span></li>
                    {% else %}
                        <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if orders.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ orders.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="disabled"></li>
                {% endif %}
                </ul>
        {% endif %}
    </nav>
</div>
</div>

{% endblock %}

