{% extends 'base.html' %}

{% block titulo %} Customer List {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'create_customers' %}" role="button">Add new customer</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Customer</h4>
        <table class="table">
            <tr>
                <td><p class="fw-bold">ID</p></td>
                <td><p class="fw-bold">Name</p></td>
                <td><p class="fw-bold">DNI</p></td>
                <td><p class="fw-bold">Actions</p></td>
            </tr>
            <thead>
                {% for customer in customers %}
            </thead>
            <tbody>
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.dni }}</td>
                
                    <td><a name="" id="" class="btn btn-info" href="{% url 'edit_customers' customer.id %}" role="button">Edit</a>
                         | <a name="" id="" class="btn btn-danger" href="{% url 'delete_customers' customer.id %}" role="button">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <div class="row">
                        <form>
                            <div class="col-2" style="padding-right: 0em;">
                                <input class="form-control" type="search" name="qtext" placeholder="Filter your data here">
                            </div>
                            <div class="col-4" style="padding:0em;">
                                <input type="submit" class="btn btn-primary" value="Search"> 
                            </div>
                        </form>
                    </div>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            {% if customers.has_other_pages %}
                <ul class="pagination justify-content-end">
                      {% if customers.has_previous %}
                        <li class="page-item"><a class="page-link " href="?page={{ customers.previous_page_number }}">Previous</a></li>
                      {% else %}
                        <li class="disabled"></li>
                      {% endif %}
                    {% for i in customers.paginator.page_range %}
                        {% if customers.number == i %}
                            <li class="page-link"><span>{{ i }} <span class="sr-only"></span></span></li>
                        {% else %}
                            <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if customers.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ customers.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="disabled"></li>
                    {% endif %}
                    </ul>
            {% endif %}
        </nav>
    </div>
</div>

{% endblock %}