{% extends 'base.html' %}

{% block titulo %} Routes List {% endblock %}

{% block contenido %} 

<div class="card">
        <div class="card-header">
                <div class="row">
                    <div class="col-2">
                        <a name="" id="" class="btn btn-success" href="{% url 'create_routes' %}" role="button">Add new route</a>
                    </div>
                </div>
        </div>
    <div class="card-body">
        <h4 class="card-title">Routes</h4>
        <table class="table">
            <tr>
                <td><p class="fw-bold">ID</p></td>
                <td><p class="fw-bold">Place</p></td>
                <td><p class="fw-bold">Origin</p></td>
                <td><p class="fw-bold">Destiny</p></td>
                <td><p class="fw-bold">Image</p></td>
                <td><p class="fw-bold">Postal Code</p></td>
                <td><p class="fw-bold">Actions</p></td>    
            </tr>
            <thead>
                {% for route in routes %}
            </thead>
            <tbody>
                <tr>
                    <td>{{ route.id }}</td>
                    <td>{{ route.place }}</td>
                    <td>{{ route.origin }}</td>
                    <td>{{ route.destiny }}</td>
                    <td>
                        <img src="{{ route.image.url }}" height="100">
                    </td>
                    <td>{{ route.postal_code }}</td>
                    <td><a name="" id="" class="btn btn-info" href="{% url 'edit_routes' route.id %}" role="button">Edit</a>
                         | <a name="" id="" class="btn btn-danger" href="{% url 'delete_routes' route.id %}" role="button">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <div class="row">
                        <form>
                            <div class="col-2" style="padding-right: 0em;">
                                <input class="form-control" type="search" name="qtext" placeholder="Filter your data here">
                            </div>
                            <div class="col-4" style="padding:0em;">
                                <input type="submit" class="btn btn-primary" value="Search"> 
                            </div>
                        </form>
                    </div>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>

{% endblock %}