{% extends 'base.html' %}

<div>
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
</div>

{% block titulo %} Login with your credentials {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <h2>Login</h2>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" name="email" id="email" class="form-control" placeholder="Enter your email">
                </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">   
            </div>
            <input class="btn btn-primary" type="submit" value="Send information">
        </form>
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>

{% endblock %}