{% extends "base.html" %}

{% block titulo %} Lista de Conductores {% endblock %}

{% block content %}

<br><br>
<div class="w3-container">
    <h2>Lista de Conductores</h2>
    <button onclick="document.getElementById('addnewdriver').style.display='block'" class="w3-button w3-green w3-border w3-round">Agregar nuevo</button>
        <div id="addnewdriver" class="w3-modal">
            <div class="w3-modal-content">
                <div class="w3-container">
                <span onclick="document.getElementById('addnewdriver').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <p>Espacio para agregar nuevo conductor.</p>
                </div>
            </div>
        </div>
    <br>
    <table class="w3-table-all w3-card-4">
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>NIF</th>
              <th>Actions</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
              <td>Editar - ElimInar</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
              <td>Editar - ElimnIar</td>
            </tr>
            <tr>
              <td>Adam</td>
              <td>Johnson</td>
              <td>67</td>
              <td>Editar - ElimInar</td>
            </tr>
            <tr>
                <td>Adam</td>
                <td>Johnson</td>
                <td>67</td>
                <td>Editar - Eliminar</td>
            </tr>
    </table>
</div>
{% endblock %}

