{% extends 'base.html' %}

{% block titulo %} Driver List {% endblock %}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <!-- Add Loading Platform (Spanish translation: Esto es para agregar muelles de cargas para los camiones)-->
        <a name="" id="" class="btn btn-success" href="{% url 'create_drivers' %}" role="button">Add new LoadingPlatform</a>
    </div>
    <div class="card-body">
        <h4 class="card-title">Loading Platforms</h4>
        <table class="table">
            <tr>
                <td><p class="fw-bold">ID</p></td>
                <td><p class="fw-bold">Name</p></td>
                <td><p class="fw-bold">Position</p></td>
                <td><p class="fw-bold">Image</p></td>
                <td><p class="fw-bold">Actions</p></td>
            </tr>
            <thead>
                {% for loadingplatform in loadingplatforms %}
            </thead>
            <tbody>
                <tr>
                    <td>{{ loadingplatform.id }}</td>
                    <td>{{ loadingplatform.name }}</td>
                    <td>{{ loadingplatform.position }}</td>
                    <td>
                        <img src="{{ loadingplatform.image.url }}" height="100">
                    </td>
                    <td><a name="" id="" class="btn btn-info" href="{% url 'edit_loadingplatforms' driver.id %}" role="button">Edit</a>
                         | <a name="" id="" class="btn btn-danger" href="{% url 'delete_loadingplatforms' driver.id %}" role="button">Delete</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <div class="row">
                        <form>
                            <div class="col-2" style="padding-right: 0em;">
                                <input class="form-control" type="search" name="qtext" placeholder="Filter your data here">
                            </div>
                            <div class="col-4" style="padding:0em;">
                                <input type="submit" class="btn btn-primary" value="Search"> 
                            </div>
                        </form>
                    </div>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            {% if loadingplatforms.has_other_pages %}
                <ul class="pagination justify-content-end">
                      {% if loadingplatforms.has_previous %}
                        <li class="page-item"><a class="page-link " href="?page={{ loadingplatforms.previous_page_number }}">Previous</a></li>
                      {% else %}
                        <li class="disabled"></li>
                      {% endif %}
                    {% for i in loadingplatforms.paginator.page_range %}
                        {% if loadingplatforms.number == i %}
                            <li class="page-link"><span>{{ i }} <span class="sr-only"></span></span></li>
                        {% else %}
                            <li class="page-link"><a class="page-item" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if loadingplatforms.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ loadingplatforms.next_page_number }}">Next</a></li>
                    {% else %}
                        <li class="disabled"></li>
                    {% endif %}
                    </ul>
            {% endif %}
        </nav>
    </div>
</div>

{% endblock %}